
  <div class="home">
    <div class="header">Department</div>
    <div class="header">Task</div>
    <div class="header">Employee</div>
      <a routerLink="/department" routerLinkActive="active">
        <img src="https://i.imgur.com/EdapGtW.png">
      </a>
      <a routerLink="/task" routerLinkActive="active">
      <img src="https://i.imgur.com/Pa4Qogi.png">
      </a>
      <a routerLink="/employee" routerLinkActive="active">
      <img src="https://i.imgur.com/BdLikan.png">
      </a>
  </div>

  

